@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  * {
    font-family: "Noto Sans KR", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    -ms-overflow-style: none;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: black;
  }
}
@layer components {
  .transition1000 {
    @apply transition-all duration-1000;
  }
  .Section {
    @apply w-full h-screen;
  }
  .betweencenter {
    @apply items-center justify-between;
  }
  .centercenter {
    @apply items-center justify-center;
  }
  .TextColor {
    @apply text-black100 dark:text-darkmodeWhite;
  }
  .RTextColor {
    @apply text-white dark:text-darkmodeWhite;
  }
  .BgColor {
    @apply bg-white dark:bg-darkmodeBlack100;
  }
  .RBgColor {
    @apply bg-white dark:bg-darkmodeWhite;
  }
  .title {
    @apply text-black100 text-[40px] font-medium tracking-[-2.88px];
  }
  .Border {
    @apply border-b-2 border-solid border-black100 dark:border-darkmodeWhite;
  }
  .RBorder {
    @apply border-b-2 border-solid border-white dark:border-darkmodeWhite;
  }
  .AfterDot {
    @apply relative after:content-["·"] after:block after:absolute after:left-[-20px] after:top-[0px];
  }
  .AfterBorder {
    @apply relative after:content-[""] after:block after:w-[100%] after:absolute after:top-[150px] after:RBorder;
  }
  .AfterDotted {
    @apply relative after:translate-x-[-50%] after:top-[190%] after:left-[50%] after:h-[45px] after:border-r-[2px] after:border-dotted after:border-white after:absolute  dark:after:border-darkmodeWhite after:content-[''];
  }
}

@layer Utilities {
  .BoxShadow {
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.25);
  }
  .UnderLine::after {
    display: block;
    content: "";
    transform: scaleX(0);
    transition-property: transform;
    transition-timing-function: ease-in-out;
  }
  .UnderLine:hover::after {
    transform: scaleX(1);
  }
}

/* Noto Sans KR 폰트 별 굵기, 리소스 요청 */
@font-face {
  font-family: Noto Sans KR;
  src: url(../public/font/Noto_Sans_KR/NotoSansKR-Thin.woff2) format("woff2");
  font-weight: 100;
}
@font-face {
  font-family: Noto Sans KR;
  src: url(../public/font/Noto_Sans_KR/NotoSansKR-Light.woff2) format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: Noto Sans KR;
  src: url(../public/font/Noto_Sans_KR/NotoSansKR-Regular.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: Noto Sans KR;
  src: url(../public/font/Noto_Sans_KR/NotoSansKR-Medium.woff2) format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: Noto Sans KR;
  src: url(../public/font/Noto_Sans_KR/NotoSansKR-Bold.woff2) format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: Noto Sans KR;
  src: url(../public/font/Noto_Sans_KR/NotoSansKR-Black.woff2) format("woff2");
  font-weight: 900;
}
/* Roboto 폰트 별 굵기, 리소스 요청, 영문 대소문자, 숫자만 적용 */
@font-face {
  font-family: Noto Sans KR;
  src: url(../public/font/Roboto/Roboto-Thin.woff2) format("woff2");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
  font-weight: 100;
}
@font-face {
  font-family: Noto Sans KR;
  src: url(../public/font/Roboto/Roboto-Light.woff2) format("woff2");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
  font-weight: 300;
}
@font-face {
  font-family: Noto Sans KR;
  src: url(../public/font/Roboto/Roboto-Regular.woff2) format("woff2");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
  font-weight: 400;
}
@font-face {
  font-family: Noto Sans KR;
  src: url(../public/font/Roboto/Roboto-Medium.woff2) format("woff2");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
  font-weight: 500;
}
@font-face {
  font-family: Noto Sans KR;
  src: url(../public/font/Roboto/Roboto-Bold.woff2) format("woff2");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
  font-weight: 700;
}
@font-face {
  font-family: Noto Sans KR;
  src: url(../public/font/Roboto/Roboto-Black.woff2) format("woff2");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
  font-weight: 900;
}
